<!DOCTYPE html>
<html>
<head>
  <title>Event Planning</title>
<link rel="stylesheet" type="text/css" href="event_planning.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
</head>
<body>
    <div class="container_1">
      <div class="top_left">
        <img class="crest" src="crest.jpg">
          </div>
            <div class="top_center">
              <div class="header">
                <h1 class="title">Welcome to Parent Bulldog Nation!</h1>
                <h2 class="subtitle">Proud Parents of the Yale Men's Lacrosse Team</h2>
              </div>
            </div>
          <div class="top_right">
            <img class="ivy_logo" src="ivy.jpg">
              <h2 class="acalades">Four Time Ivy League Champions</h2>
          </div>
    </div>


    <div class="container_2">
      <div class="nav_bar">
        <a href="index.html"><h1 class="home">Home</h1></a>
        <a href="roster.html"><h1 class="roster">Roster</h1></a>
        <a href="event_planning.html"><h1 class="event_planning">Event Planning</h1></a>
        <a href="schedule.html"><h1 class="schedule">Team Schedule</h1></a>
        <a href="live_games.html"><h1 class="live_games">Live Stream</h1></a>
      </div>
    </div>



    <div class="container_3">
      <div class="schedule_2017">
        <div class="dropdown">

        <ol><h2 id="villanova">Villanova</h2></ol>
          <div id="dropdown_1" class="dropdown_1">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="maryland">Maryland</h2></ol>
          <div id="dropdown_2" class="dropdown_2">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="bryant" >Bryant</h2></ol>
          <div id="dropdown_3" class="dropdown_3">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
       
        <ol><h2 id="umass">UMass</h2></ol>
          <div id="dropdown_4" class="dropdown_4">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="fairfield">Fairfield</h2></ol>
          <div id="dropdown_5" class="dropdown_5">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="cornell">Cornell</h2></ol>
          <div id="dropdown_6" class="dropdown_6">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
        
        <ol><h2 id="princeton">Princeton</h2></ol> 
          <div id="dropdown_7" class="dropdown_7">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="upenn">UPenn</h2></ol>
          <div id="dropdown_8" class="dropdown_8">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="st_johns">St. Johns</h2></ol>
          <div id="dropdown_9" class="dropdown_9">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="dartmouth">Dartmouth</h2></ol>
          <div id="dropdown_10" class="dropdown_10">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="brown">Brown</h2></ol>
          <div id="dropdown_11" class="dropdown_11">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="albany">Albany</h2></ol>
          <div id="dropdown_12" class="dropdown_12">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="harvard">Harvard</h2></ol>
          <div id="dropdown_13" class="dropdown_13">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
        <br>
      
      </div>
    </div>

    <div class="items">
      <div class="pregame_items">
        <h3>Pregame Tailgate</h3>
          <table class="pregame_tailgate_table">
            <tr>
              <th>Items</th>
              <th>Parent</th>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                
              </td>
            </tr>
          </table>
      <form>
        <input class="items_text" type="input" name="items_submit">
          <br>
          <input class="items_button" type="submit" name="items_button">
      </form>
      <form>
        <input class="parent_text" type="input" name="items_submit">
          <br>
          <input class="parent_button" type="submit" name="items_button">
      </form>
      </div>

    </div>

  </div>

<script src="event_planning.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</body>
</html>