
    <div class="container_3">
      <div class="schedule_2017">
        <div class="dropdown">

        <ol><h2 id="villanova">Villanova</h2></ol>
          <div id="dropdown_1" class="dropdown_1">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="maryland">Maryland</h2></ol>
          <div id="dropdown_2" class="dropdown_2">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="bryant" >Bryant</h2></ol>
          <div id="dropdown_3" class="dropdown_3">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
       
        <ol><h2 id="umass">UMass</h2></ol>
          <div id="dropdown_4" class="dropdown_4">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="fairfield">Fairfield</h2></ol>
          <div id="dropdown_5" class="dropdown_5">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="cornell">Cornell</h2></ol>
          <div id="dropdown_6" class="dropdown_6">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
        
        <ol><h2 id="princeton">Princeton</h2></ol> 
          <div id="dropdown_7" class="dropdown_7">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="upenn">UPenn</h2></ol>
          <div id="dropdown_8" class="dropdown_8">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="st_johns">St. Johns</h2></ol>
          <div id="dropdown_9" class="dropdown_9">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="dartmouth">Dartmouth</h2></ol>
          <div id="dropdown_10" class="dropdown_10">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="brown">Brown</h2></ol>
          <div id="dropdown_11" class="dropdown_11">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="albany">Albany</h2></ol>
          <div id="dropdown_12" class="dropdown_12">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>

        <ol><h2 id="harvard">Harvard</h2></ol>
          <div id="dropdown_13" class="dropdown_13">
            <h4>Pregame Tailgate</h4>
            <h4>Postgame Tailgate</h4>
          </div>
        <br>
      
      </div>
    </div>

    <div class="items">
      <div class="pregame_items">
        <h3>Pregame Tailgate</h3>
          <table class="pregame_tailgate_table">
            <tr>
              <th>Items</th>
              <th>Parent</th>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                
              </td>
            </tr>
          </table>
      <form>
        <input class="items_text" type="input" name="items_submit">
          <br>
          <input class="items_button" type="submit" name="items_button">
      </form>
      <form>
        <input class="parent_text" type="input" name="items_submit">
          <br>
          <input class="parent_button" type="submit" name="items_button">
      </form>
      </div>

    </div>

  </div>
