<!DOCTYPE html>
<html>
  <head>
    <title>YaleLacrosseParentWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
  </head>

  <body>
  <div class="container_1">
      <div class="top_left">
        <img class="crest" src="/assets/crest.jpg">
          </div>
            <div class="top_center">
              <div class="header">
                <h1 class="title">Welcome to Bulldog Nation!</h1>
                <h2 class="subtitle">Proud Parents of the Yale Men's Lacrosse Team</h2>
              </div>
            </div>
          <div class="top_right">
            <img class="ivy_logo" src="/assets/ivy.jpg">
              <h2 class="acalades">Four Time Ivy League Champions</h2>
          </div>
    </div>


    <div class="container_2">
      <div class="nav_bar">
        <% link_to 'Home' %><a href="/"><h1 class="home">Home</h1></a>
        
        <% link_to 'Roster' %><a href="/roster"><h1 class="roster">Roster</h1></a>
        
        <% link_to 'Event Planning' %><a href="/event_planning"><h1 class="event_planning">Event Planning</h1></a>
        
        <% link_to 'Schedule' %><a href="/schedule"><h1 class="schedule">Team Schedule</h1></a>
        
        <a href="live_games.html"><a href="/live_games"><h1 class="live_games">Live Stream</h1></a>
      </div>
    </div>

    <div class="container_3">
      
      <%= yield %>

    </div>

    

  </body>
</html>
